a:link { text-decoration: none; color: black;}
a:visited { text-decoration: none; color: black;}
a:hover { text-decoration: none; color: black;}
a:active { text-decoration: none; color: black;}

.wrapper{
    width: 600px;
    height: fit-content;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 50px;
    .cardText{
        max-height: 400px;
        margin-bottom: 15px;
        .title {
            font-family: 'Inter';
            font-weight: 700;
            margin: 5px 0;
            font-size: 30px;
            overflow: hidden;
            word-wrap: break-word
        }
        .content{
            font-family: 'Inter';
            font-weight: 400;
            margin: 0 5px 0 0;
            font-size: 20px;
            line-height: 20px;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            overflow: hidden;
        }
    }
    .media{
        width: calc(100% - 20px);
        padding: 10px;
        aspect-ratio: 16/9;
        background-color: #000;
        border-radius: 10px;
    }
    p {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
    }
    .tags{
        display: flex;
        margin: 0;
        .tag {
          margin: 0 10px 5px 0;
          font-size: 19px;
          font-weight: 500;
          font-family: 'Inter';
        }
    } 
}
