.wrapper {
    margin: 20px 30px;

    .title {
        text-align: center;
        font-family: 'Inter';
        font-size: xx-large;
        width: 100%;
    }

    .top {
        display: flex;
        justify-content: space-between;

        >a {
            display: flex;
            justify-content: center;
            background: #dbdbdb;
            width: 250px;
            height: 50px;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 20px;

            &:hover {
                background-color: darken(rgba(160, 233, 255, 1), 10%);
            }

            transition: background-color 0.4s;

            >h2 {
                font-weight: 500;
                font-size: 25px;
                margin: auto 0;
                font-family: 'inter';
            }

            img {
                margin: auto 0;
            }
        }
    }

    .post {
        padding: 0 20px 0 20px;
        margin-top: 10px;
        display: grid;
        border: 1px solid rgba(23, 66, 99, 0.945);
        grid-template-columns: 25% 25% 25% 25%;

        &>* {
            text-align: center;
            font-family: 'Inter';
            font-size: 400;
        }

        p {
            font-size: 18px;
            font-family: 'Inter';
        }
    }

    .delete {
        cursor: pointer;
    }
}